extends ../layouts/main-layout.pug 
block styles 
    <link rel="stylesheet" href="/css/addproduct.css">   
    <link rel="stylesheet" href="/css/main.css">   
    //- <link rel="stylesheet" href="/css/login.css">   
    <link rel="stylesheet" href="/css/resetPassword.css">   
block content 
        //- if (errorMessage[0])
        //-         div.userMessageContainer
        //-             each message in errorMessage 
        //-                 div.userMessage.errorMessage #{message}
        div.maincontainer 
            form.form#form1(action="/reset" method="POST" )
                div 
                    h4 Eon Bikes
                div
                    input(type="email",name="useremail", placeholder="email" required).inputfield
                //- div
                //-     input(type="text",name="username", placeholder="UserName" required).inputfield
                //- //- div
                //- //-     input(type="text",name="lName", placeholder="Last Name" required).inputfield
                //- div
                //-     input(type="password",name="userpassword", placeholder="Password" required).inputfield
                //- div    
                //-     input(type="password" name="confuserpassword" placeholder="Confirm Password" required).inputfield 
                div
                    input(type="hidden", name="_csrf" value=csrfToken)
                    button#form-sub-btn(type="submit") Send
                div.resetmsg     
                    p A reset password link will be sent to the provided email.
