extends ../layouts/main-layout.pug 
block styles 
    <link rel="stylesheet" href="/css/addproduct.css">   
block content 
    div.maincontainer 
        form.form(action="/admin/addproduct" method="POST" )
            input(type="hidden", name="_csrf" value=csrfToken)
            div 
                h4 ADD Product
            div
                input(type="text",name="title", placeholder="Title" required).inputfield
            div    
                input(type="number" name="price" placeholder="Price" required).inputfield 
            div    
                input(type="text" name="imageURL" placeholder="ImageURL").inputfield 
            div
                label(for="description" )#Labels Product Description  
            div   
                textarea(name="description" rows="10" ).inputfield#description 
            div
                button#form-sub-btn(type="submit") ADD Product