//- extends layouts/main-layout.pug 
//- block content 
//-     h1 404 PAGE NOT FOUND

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 404
        link(rel="stylesheet", href="/css/404.css")
    body 
        .div.container
            h2 404 PAGE NOT FOUND

    