<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/main.css">

</head>

<body>

    <header class="header">
        <nav class="navbar">
            <ul class="navbarul">
                <li class="liofulinnavbar"> <a href="/shop">Shop</a></li>
                <li class="liofulinnavbar"> <a href="/admin/addproduct">Add Products</a></li>
            </ul>
        </nav>
    </header>

    <h1>This is HOME from admin</h1>'
</body>

</html>