extends ../layouts/main-layout.pug 
block styles 
    link(rel="stylesheet", href="/css/shop.css")    
block content
    if(orders.length <=0)
        h1 No Orders Yet!!!
    else 
        h1 These are your orders till now 
        ul 
            each order in orders 
                li 
                    h1 Order ID: #{order.id} 
                    ul 
                        h3 products 
                        each product in order.products 
                            li  #{product.title} 
                            //- (#{product.orderItem.quantity})
        